<br/>
<br/>
<br/>
<br/>
<h1 style="padding-left: 60px;">DEMO</h1>
<div class="demo" style="width: 200px; height: 200px;">
  <ngx-img-crossfader [images]="myImages1"></ngx-img-crossfader>
</div>
<div class="demo" style="width: 200px; height: 200px;">
  <ngx-img-crossfader [images]="myImages2"></ngx-img-crossfader>
</div>
<div class="demo" style="width: 200px; height: 200px;">
  <ngx-img-crossfader [images]="myImages3"></ngx-img-crossfader>
</div>
<div class="demo" style="width: 200px; height: 200px;">
  <ngx-img-crossfader [images]="myImages4"></ngx-img-crossfader>
</div>
<div class="demo" style="width: 200px; height: 200px;">
  <ngx-img-crossfader [images]="myImages5"></ngx-img-crossfader>
</div>
<div class="demo" style="width: 200px; height: 200px;">
  <ngx-img-crossfader [images]="myImages6"></ngx-img-crossfader>
</div>
<div class="demo" style="width: 200px; height: 200px;">
  <ngx-img-crossfader [images]="myImages7"></ngx-img-crossfader>
</div>
<div class="demo" style="width: 200px; height: 200px;">
  <ngx-img-crossfader [images]="myImages8"></ngx-img-crossfader>
</div>
<div class="demo" style="width: 200px; height: 200px;">
  <ngx-img-crossfader [images]="myImages9"></ngx-img-crossfader>
</div>
<div class="demo" style="width: 200px; height: 200px;">
  <ngx-img-crossfader [images]="myImages10"></ngx-img-crossfader>
</div>
<div class="demo" style="width: 200px; height: 200px;">
  <ngx-img-crossfader [images]="myImages11"></ngx-img-crossfader>
</div>
<div class="demo" style="width: 200px; height: 200px;">
  <ngx-img-crossfader [images]="myImages12"></ngx-img-crossfader>
</div>
